{% extends 'base.html.twig' %}

{% block title %}Code challenge 2025{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center w-full px-4 py-12 mx-auto sm:max-w-lg lg:max-w-xl xl:max-w-2xl">
            <div class="flex flex-col items-center justify-center">
                <div class="flex flex-col items-center justify-center">
                    <h1 class="text-3xl font-bold text-center">Hello teams!</h1>
                    <p class="text-center">
                        This is your code challenge.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}